#color{
	background-color: #0dd6f3;
}

#content{
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
				 0px 5px 11px rgba(0,0,0,0.1),
				 0px 13px 19px rgba(0,0,0,0.1);
	height:100%;
}

input[type="number"]{
	width:15%;
	margin: auto;
}

h3{
	padding-bottom: 10px;
}

.colorchange{
	color:green;
}